<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign In</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <link href="../../../resources/css/Register.css" rel="stylesheet" media="screen" th:href="@{/resources/css/Register.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>
<body>
<div th:replace="fragments/layout :: header"></div>
<div class="container">
    <div class="row main">
        <div class="main-login main-center">
            <form class="" action="#" method="post" th:action="@{/authenticate}">
                <th:block th:if="${param.error != null}">
                    <div th:replace="fragments/components :: alert (type='danger', message=${session[SPRING_SECURITY_LAST_EXCEPTION]})">
                        Alert
                    </div>
                </th:block>
                <fieldset>
                    <legend>Please Sign In</legend>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label"><i class="fa fa-envelope fa" aria-hidden="true"></i></label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputEmail" placeholder="Email"
                                   name="username"/>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                                   name="password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="_spring_security_remember_me"/> Запомнить меня
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-default">Войти</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <p>Впервые здесь? тогда можете  <a href="signup" th:href="@{/signup}">Зерегистрироваться</a></p>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

</body>
</html>