<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список товаров</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/base.css" rel="stylesheet" media="screen" th:href="@{/resources/css/base.css}"/>
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/layout :: header"></div>
<div class="container">
    <div class="product-list" th:unless="${#lists.isEmpty(allProducts)}">
        <h2 th:text="Товары">Товары</h2>
        <table class="table table-hover" id="products">
            <thead>
            <tr>
                <th th:text="Код">Код</th>
                <th th:text="Название">Название</th>
                <th th:text="Описание">Описание</th>
                <th th:text="Цена">Цена</th>
            </tr>
            </thead>
            <tbody>
            <tr class="product-row" th:each="prod : ${allProducts}" th:href="@{/admin/product/{id}/edit(id=${prod.id})}" style="cursor: pointer">
                <td th:text="${prod.id}"></td>
                <td th:text="${prod.name}"></td>
                <td th:text="${prod.description}"></td>
                <td th:text="${prod.price}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script th:inline="javascript">
    $("#products tr.product-row").click(function () {
        window.location = $(this).attr("href");
    });
</script>
</body>
</html>